.excerpt {
  border-bottom: 2px solid $gray-border;
  margin-bottom: 25px;
  padding-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &__image {
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__meta {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.15;
    margin-bottom: 9px;
  }

  &__date {
    border-right: 1px solid $yellow;
    text-transform: uppercase;
    margin-right: 4px;
    padding-right: 4px;
  }

  &__cats {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      border-right: 1px solid $yellow;
      display: inline-block;
      margin-right: 4px;
      padding-right: 4px;

      &:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

  &__title {
    font-size: 1.3125rem;
    line-height: 1.3;
    margin-bottom: 12px;

    a {
      color: inherit;
      font-weight: inherit;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  &__preview {
    font-size: 1rem;
    line-height: 1.375;
    margin-bottom: 15px;
  }

  &__more {
    font-size: 1rem;
    line-height: 1.1875;
  }
}

.excerpt--document {
  background-color: $white;
  border-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  padding: 20px;

  .excerpt__title {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .excerpt {
    &__image {
      margin-bottom: 0;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 1.166666667;
    }
  }

  .excerpt--document {
    padding: 25px 20px;
  }
}