.eligibility {
    padding: 30px 0;

    .eligibility__header {
        @extend .module-header;
    }

    .eligibility__heading {
        @extend .module-heading;
    }

    .eligibility__subheading {
        @extend .module-subheading;
    }

    .eligibility__intro {
        font-size: 1rem;
        line-height: 1.5;

        > :last-child {
            margin-bottom: 0;
        }
    }

    .eligibility__eligibility {
        border-bottom: 8px solid $yellow;
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
        font-size: 0.875rem;
        line-height: 1.5;
        margin-top: 40px;
        padding: 25px 20px;

        h3 {
            font-size: 1.3125rem;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        ol, ul {
            padding-left: 0;
        }

        ol, p, ul {
            margin-bottom: 10px;
        }

        p + ol, p + ul {
            margin-top: -5px;
        }

        ul {
            list-style: none;

            li:before {
                content: '\00BB ';
                padding-right: 4px;
            }
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    .eligibility__contact {
        border-bottom: 0;
        font-size: 1rem;
        line-height: 1.3125;
    }
}

@include media-breakpoint-up(md) {
    .eligibility {
        padding: 50px 0;

        .eligibility__header {
            margin-top: 20px;
        }
    
        .eligibility__eligibility {
            margin-top: 0;
    
            h3 {
                font-size: 1.5rem;
                line-height: 1.125;
                margin-bottom: 15px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .eligibility {
        .eligibility__intro {
            font-size: 1.125rem;
        }
    }
}