.feed-post {
  padding: 0;

  .feed-post__inner {
    position: relative;

    &:before, &:after {
      background-image: url('../../dist/img/pattern_horizontal.png');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 0;
      overflow: hidden;
      padding-top: calc(451 / 1825 * 100%);
      width: 100%;
    }

    &:before {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    &:after {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  .feed-post__image {
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .feed-post__date {
    display: block;
    font-size: 0.875rem;
    line-height: 1.15;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .feed-post__title {
    font-size: 1.3125rem;
    line-height: 1.3;
    margin-bottom: 12px;

    a {
      color: inherit;
      font-weight: inherit;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .feed-post__preview {
    font-size: 1rem;
    line-height: 1.375;
    margin-bottom: 15px;
  }

  .feed-post__more {
    font-size: 1rem;
    line-height: 1.1875;
  }
}

@include media-breakpoint-up(md) {
  .feed-post {
    padding-top: 60px;
    padding-bottom: 60px;

    .feed-post__inner {
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 33.3333%;
      }
  
      &:after {
        display: none;
      }
    }

    .feed-post__image-wrap {
      position: relative;

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        background-image: url('../../dist/img/pattern_horizontal.png');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 0;
        margin-top: 20px;
        overflow: hidden;
        padding-top: calc(451 / 1825 * 100%);
        width: calc(44.4444% - 5px);
      }
    }

    .feed-post__image {
      margin-bottom: 0;
    }

    .feed-post__content {
      background-color: $white;
      border-bottom: 8px solid $yellow;
      border-radius: 5px;
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
      margin-top: -40px;
      padding: 40px 30px 30px;
    }
  
    .feed-post__title {
      font-size: 1.5rem;
    }
  
    .feed-post__preview {
      margin-bottom: 25px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .feed-post {
    .feed-post__inner {
      &:before {
        background-repeat: repeat-x;
        background-size: 50%;
        width: 50%;
      }
  
      &:after {
        display: none;
      }
    }

    .feed-post__image-wrap {
      &:after {
        background-repeat: repeat-x;
        background-size: 50%;
        width: 85.7142857%;
      }
    }

    .feed-post__content {
      margin-top: 110px;
      margin-left: -25px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .feed-post {
    padding-bottom: 120px;
  }
}