.map {
  @extend .cta-single;
  
  .cta {
    .cta__map-col {
      display: none;
    }
    
    .cta__heading {
      border-bottom: 4px solid $gray-border;
      padding-bottom: 12px;
    }
  }
}

.map + .form {
  padding-top: 0;
}

@include media-breakpoint-up(lg) {
  .map {
    .cta {
      .cta__map-col {
        display: block;
      }
    
      .cta__image {
        border-radius: 0;
        z-index: 9999;
      }
    }
  } 
}