{% set image = Image(hero.image) %}

<div class="hero">
	
	{% if image.src %}
		<img alt="" class="hero__image" src="{{ image.src('fullbleed') }}">
	{% endif %}

	<div class="hero__content" {{ image.src ? 'style="background-image: url(' ~ image.src('fullbleed') ~ ');"' }}>
		<div class="container">
			<div class="row hero__row">
				{% if hero.heading %}
					<div class="col-lg-6">
						<h1 class="hero__heading">{{ hero.heading }}</h1>
					</div>
				{% endif %}

				{% if hero.copy %}
					<div class="col-lg-6">
						<div class="hero__copy">
							{{ hero.copy }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

</div>