<div class="module module--bg-{{ module.bg_color }} {{ module_name }} {{ module_style ? module_name~'--'~module_style }}">

	<div class="container">

		{% block content %}
			<p>Nothing in this module</p>
		{% endblock %}

	</div>

</div>