{% extends 'blocks/module.twig' %}

{% block content %}

	<div class="row testimonial__row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<blockquote class="testimonial__blockquote">
				<div class="testimonial__copy">
					{{ module.quote }}
				</div>

				{% if module.source or module.elaboration %}
					<footer class="testimonial__footer">
						{% if module.source %}
							<span class="testimonial__source">{{ module.source }}</span>
						{% endif %}

						{% if module.elaboration %}
							<span class="testimonial__elaboration">{{ module.elaboration }}</span>
						{% endif %}
					</footer>
				{% endif %}
			</blockquote>
		</div>
	</div>

{% endblock %}