{% extends 'blocks/module.twig' %}

{% block content %}

	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<div class="text__copy wysiwyg">
				{{ module.copy }}
			</div>
		</div>
	</div>

{% endblock %}