{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.heading %}
		<h2 class="vol-ops__heading">{{ module.heading }}</h2>
	{% endif %}

	{% if module.opportunities|length > 0 %}
		<div class="row">
			{% for item in module.opportunities %}
				<div class="col-md-4 vol-ops__col">
					{% include 'blocks/vol-op.twig' %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}