{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.sr_text|length > 0 %}
		<div class="sr-only">
			{{ module.sr_text }}
		</div>
	{% endif %}

	<div class="embed__content">
		{{ module.embed }}
	</div>

{% endblock %}