<nav class="sidebar-nav {{ Post(top_parent).name == 'Services' ? 'sidebar-nav--services' }}" aria-label="{{ Post(top_parent).name }} Section">
    <ul class="sidebar-nav__list">
        {{ sidebar_nav }}
    </ul>
</nav>