{% extends "base.twig" %}

{% block content %}

<div class="search-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="search-page__results">
					{% for post in posts %}
						<div class="search-page__result">
								<h2 class="search-page__title">
									<a class="search-page__link" href="{{ post.link }}">
										{{ post.title }}
									</a>
								</h2>
								
								{% if post.preview|length > 0 %}
									<p class="search-page__preview">{{ post.preview  }}</p>
								{% endif %}
						</div>
					{% endfor %}
				</div>
		
				{% if posts.pagination.prev or posts.pagination.next %}
					{% include 'blocks/pagination.twig' %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}