// Colors
$black: #1F1D1D;
$blue: #3E5195;
$dark-blue: #052949;
$gray: #eee;
$gray-background: #F6F6F6;
$gray-border: #E3E3E3;
$gray-text: #595757;
$light-blue: #9ac0c4;
$rose: #bf8472;
$teal: #367e85;
$white: #fff;
$mid-blue: #487195;
$gray-alt: #bcbcc3;
$purple: #4759a5; // from AIFC Board Portal IV
$red: #AB2C2C;
$yellow: #F5E645;